.act1{
    margin-left: 280px;
    float: left;
    margin-top: 230px;
}
.act2{
    float: left;
    margin-top: 230px;
}
.act3{
    float: left;
    margin-top: 230px;
}
.act4{
    float: left;
    margin-top: 230px;
}
